@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

body{
    background-color: #F5F7FA;
    overflow-x: hidden;
}
nav
{
    background-color:  #2F334F !important;
    color: #9c2f2f;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box;
    /* height: 5rem; */
}

.navbar-toggler{
    outline: none;
}

nav a
{
    margin-right: 2rem !important;
    font: Bold 1.5rem/1.8125rem Segoe UI;
    /* letter-spacing: 0.06125rem; */
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    /* border: 2px solid; */
    outline: none;
}

nav a:hover{
    color: #FFFFFF; 
}

/* #navbarSupportedContent
{
    margin-left: 25rem;
} */

.logo
{
   width: 9em;
   height: 6em;
}
.container
{
    display:flex;
    order:3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    align-content: space-around;
}
#faculty
{
    margin-top: 2rem;
    letter-spacing: 0.06125rem;
    text-decoration: underline #F15F7D;
    text-align: center;
}

.card
{
    margin-top: 2rem;
    width: 50%;
    margin-left: 28%;
    
}

p
{
    font-family: 'Poppins', sans-serif;
   
}

.btn btn-primary
{
    width: 9rem !important;
    border-radius: 2.3rem !important;
}

#Sponsorss
{
    margin-top: 2rem;
    letter-spacing: 0.06125rem;
    text-underline-position: below #F15F7D;
    text-align: center;
}

.Sponsors-btn{
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 25px;
    background: #F15F7D;
    color: white
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("../assets/hamburger.svg");
  }

  button:focus{
    outline: none;
}

.logo {
    width: 9em;
    height: 6em;
}


.social-buttons {
    margin-top: 4rem;
    text-align: center;
    font-family: 'Calibri', sans-serif !important;
    width: 40%;
  }
  
  .footer {
    background-color: #EAEBF3;
    padding: 2rem;
    margin-top: 4rem;
  }
  
  .footer>h1 {
    text-transform: uppercase;
    
  }
  
  .neo-button {
    width: 3.375rem;
    height: 3.375rem;
    cursor: pointer;
    border: none;
    outline: none;
    /* background-color: #d9d9d9; */
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    background: #EAEBF3 0% 0% no-repeat padding-box;
    box-shadow: -5px -5px 15px #FFFFFFCB;
    border-radius: 15px;
    opacity: 1;
  }
  
  .neo-button:hover {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  }
  
  .neo-button .fa {
    color: #eee
  }
  
  .vl {
    margin-top: -10rem;
    border-left: 6px solid #F15F7D;
    height: 11rem;
    margin-left: 50%;
  }
  
  #footerdata {
    margin-left: 45%;
    margin-top: 2rem;
  }

@media (max-width: 1026px){
    nav a{
        font-size: 1rem;
    }
}

   



